.container {
  color: #DDA76D;
}

.hero {
width: auto;
opacity: .8;
background-image: url('highlands.jpg');
background-size: cover;
height: 900px;
}

.hero-text {
  margin-top: 50px;
  font-size: 70px;
  text-shadow: 2px 2px 4px #000000
}

.header{
font-family: 'Julius Sans One', cursive;
color: #701A03;
}


p, ul{
  font-family: 'Raleway', sans-serif;
  color: black;

}
