body {
  margin: 50px;
  font-family: 'Roboto';
  background-color: #f9f9ea;
}

main {
  margin: 50px;
}

h1 {
  text-align: center;
}

div {
  margin-top: 100px;
}

ul, p {
  margin-left: 30px;
}

p {
  width: 550px;
}

ul {
  list-style: none;
}

.mc-content {
  height: 100%;
  /*text-align: center;*/
  margin: 20px auto;
  display: block;
/*width: 50%;*/
}
