body {
  margin: 50px;
  font-family: 'Roboto';
}

main {
  margin: 50px;
}

h1 {
  text-align: center;
}

div {
  margin-top: 100px;
}

ul, p {
  margin-left: 30px;
}

p {
  width: 550px;
}

ul {
  list-style: none;
}
