body {
  background-image: url("./img/park-19445_1920.jpg")

}

h1 {
  color: #D57B80;
  font-family: 'Indie Flower', cursive;
  font-size: 72px;
  margin-left: 5em;
}

h1:hover {
  color: #F2F5E6;
  cursor: pointer;
}

h2 {
  padding-left: 20px;
  padding-top: 11px;
  font-family: 'Lato', sans-serif;
  font-size: 21px;
  color: #D15F3E;
}

h3 {
  color: #D57B80;
  font-family: 'Lato', sans-serif;
  font-size: 21px;
  padding-left: 19em;
}

h3:hover {
  color: #F2F5E6;
  cursor: pointer;
}


#voiceButton {
  padding: 40px;
  height: 10%;
  width: 10%;
  float: left;
  cursor: pointer;
}

#voiceButton:hover {
  filter: invert();
}

.card {
  border-radius: 15%;
  margin:40px;
  width: 40%;
  background-color: #FBF4F6;
  filter: opacity(0.6);
  filter: blur(0.5);
}

.card:hover {
  cursor:pointer;
  filter: blur();
}

p {
  padding: 12px;
  margin: 12px;
  color: #121E2F;
  font-family: 'Oswald', sans-serif;
}
