<md-toolbar>
  <h2 class="md-toolbar-tools search">
    <input type="text" ng-model="$crtl.searchInput" placeholder="Search">
  </h2>
</md-toolbar>
<md-content flex>

  <div class='md-padding' layout="row" layout-align="space-around" layout-wrap>

    <md-card md-theme="default" md-theme-watch ng-repeat="student in $ctrl.students | filter: $crtl.searchInput">
      <md-card-header>
        <md-card-avatar>
          <img class="md-user-avatar" ng-src="{{student.icon||'http://lorempixel.com/40/40'}}">
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-title">{{ student.name }}</span>
          <span class="md-subhead">{{ student.project }}</span>
        </md-card-header-text>
      </md-card-header>
      <img ng-src="{{student.image||'http://lorempixel.com/300/300'}}" class="md-card-image" alt="image caption">
      <md-card-actions layout="row" layout-align="start center">
        <md-button href="{{student.bioURL}}" target="_blank">Bio</md-button>
        <md-button>Site</md-button>
        <md-button>GitHub</md-button>
      </md-card-actions>
      <md-card-content>
        <p>Technologies</p>
        <ul>
          <li ng-repeat="technology in student.technologies">{{ technology }}</li>
        </ul>
      </md-card-content>
    </md-card>

  </div>

</md-content>
