body {
  font-family: "Open Sans", sans-serif;
}

.wireframe {
  /*margin: 0 20%;*/
  width: 90%;
  margin: 0 5%;
}

#wireframe-container {
  height: 500px;
  width: 800px;
  overflow: scroll;
  outline: 1px gray solid;
  margin: 0 auto;
}

#projectm {
  height: 600px;
}

.screenshot {
  width: 900px;
  padding: 20px;
}

ul {
  list-style: none;
}

#about {
  width: 60%;
  margin: 0 auto;
}

.blue {
  height: 80px;
  background-color: rgb(193, 190, 184);
  text-align: center;
}
