.nav-wrapper{
  background-color: grey;
}

h3{
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 50px;
}

h5{
  font-family: 'Merriweather', serif;
}
.slider .indicators .indicator-item {
  background-color: lightgrey;
}
.slider .indicators .indicator-item.active {
  background-color: black;
}
