body {
    background-image: url("./photos/grey_wash_wall_@2X.png");
}

.nav-wrapper{
  background-color: white;
}

h3{
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 50px;
}

h5{
  font-family: 'Merriweather', serif;
}
.slider .indicators .indicator-item {
  background-color: lightgrey;
}
.slider .indicators .indicator-item.active {
  background-color: black;
}
nav .brand-logo{
  color:black;
}

ul.circle {
    list-style-type: circle;
}
.black-text li a{
  color: black;
 }

.card-container{
  display: flex;
  margin-left:75px;
  margin-right:75px;
}

.large-card-size{
  flex: 1 1 50%;
  margin: 15px;
}

.small-card-size{
  flex: 1 1 25%;
  margin: 15px;
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .card-container{
      display: flex;
      margin-left:50px;
      margin-right:50px;
      flex-wrap: wrap;
    }
}
