.carousel.initialized {
    height: 300px;
}

.carousel .carousel-item {
    width: 400px !important;
    height: 300px !important;
}

h1, h2, h3, h4 {
    font-family: 'Sansita', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 13pt;
}
