@font-face {
  font-family: 'texgyreadventorregular';
  src: url('https://dl.dropboxusercontent.com/s/bbvbtalw7t3tuhf/texgyreadventor-regular-webfont.woff2') format('woff2'),
       url('https://dl.dropboxusercontent.com/s/1cufjbgksay935n/texgyreadventor-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$color-mid: #961511;

::-webkit-scrollbar {
  display: none;
}

* {
  background: black;
  // border: 1px solid white;
  box-sizing: border-box;
}

h3 {
  color: white;
  font-family: 'texgyreadventorregular';
  font-size: 25px;
  margin-top: 10px;
}

p {
  color: white;
  font-family: 'texgyreadventorregular';
  font-size: 18px;
}

a {
  font-family: 'texgyreadventorregular';
  font-size: 18px;
}

a:link {
    color: $color-mid;
  }
a:visited, a:hover, a:active {
    color: white;
  }

.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
  background: transparent;
}

.header{
  margin: 0 auto;
}

.logo {
  transform: scale(1.13);
  margin-top: 68px;
  max-height: 400px;
  max-width: 600px;
}

.textRow {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: auto;
  width: 600px;
}

.icons {
  height: 2em;
  width: 2em;
  margin-top: 15px;
}

.github {
  border-radius: 15%;
  margin-right: 10px;
}

.linkedin {
  margin-left: 10px;
}

@keyframes text_fade_in {
  0% {opacity: 0;}
  96% {opacity: 0;}
  100% {opacity: 1;}
}
