body {
  background: url('../images/bio-background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #262626;
}

.name {
  margin-left: 2.5%;
  font-size: 6rem;
  color: #262626;
  font-family: 'Shrikhand', cursive;
}

.content1 {
  margin-left: 28px;
  height: 150px;
  background-color: rgba(38, 38, 38, .75);
  border-radius: 0 0 0 15px;
}

.content2 {
  margin-left: 25px;
  height: 450px;
  background-color: rgba(38, 38, 38, .75);
  border-radius: 0 0 0 30px;
}

.bio-image {
  margin-top: 5px;
  padding: 5%;
  width: 97%;
  border-radius: 0 0 0 30px;
}

.social {
  margin-top: 5px;
}

.social p {
  color: white;
  text-decoration: underline;
}

.projects {
  margin-top: 15px;
}

.projects p {
  color: white;
  text-decoration: underline;
}

.content3 {
  margin-left: 25px;
  height: 600px;
  background-color: rgba(38, 38, 38, .75);
  border-radius:
}
