/*---------------Landing---------------*/
/*----------Navbar----------*/
.navbar-wrapper {
  position: absolute;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  top: 2rem;
  left: 0;
  right: 0;
  z-index: 10
}

.landing-logo {
  height: 7.5rem;
  margin-right: 2rem;
}

.btn {
  background-color: #358AA0;
  color: #F3BA43;
  opacity: .95;
  border: 1px solid white;
}

.buttons-container {
  display: inline-flex;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.register-container {
  width: 15%;
}

#register-btn {
  width: 80px;
}

.login-container {
  width: 15%;
}

#login-btn {
  float: right;
  width: 80px;
}

.about {
  width: 90px;
  text-align: center;
  padding-top: .7rem;
  margin-right: 0;
  font-size: 1.75rem;
  color: #DDF4F5;
  text-decoration: none !important;
}

.about:hover {
  color: #FBE694 !important;
  text-decoration: none;
}

.about:visited {
  color: #DDF4F5;
}

/*----------Modals----------*/
#login-email {
  padding-top: 1rem;
}

#login-modal-label {
  text-align: center;
  padding-left: 8.5rem;
}

/*----------Carousel----------*/
#carousel {
  height: 40%;
}

.carousel-inner {
  height: 400px;
}

.carousel-wrapper {
  position: relative;
}

.small-scrn-header {
  height: 50px;
}

.caption1 {
  color: white;
  margin-bottom: 29%;
  font-size: 3rem;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: rgba(0, 0, 0, .10);
  border-radius: 20px;
  padding: 1px 0 1px 0;
}

.caption2 {
  color: white;
  text-shadow: 1px 1px 1px black;
  margin-bottom: 50.5%;
  font-size: 3rem;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: rgba(0, 0, 0, .25);
  border-radius: 20px;
  padding: 1px 0 1px 0;
}

.caption3 {
  color: white;
  margin-bottom: 30%;
  font-size: 3rem;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: rgba(0, 0, 0, .25);
  border-radius: 20px;
  padding: 1px 0 1px 0;
}

/*----------Info Rows----------*/
.info-section {
  display: table;
  background-color: white;
  height: 30rem;
}

.info-container-1 {
  display: table-cell;
  height: 30rem;
}

.info-container-hero {
  background-image: url('../images/blueprint-hero.jpg');
  background-size: 100% 100%;
  height: 30rem;
  display: block;
  margin: auto;
}

.info-container-2 {
  display: table-cell;
  height: 100%;
  opacity: 1;
  color: white;
  background-color: rgba(0, 0, 0, .75);
  border-radius: 140px 0 0 140px;
}

.info-container-3 {
  display: table-cell;
  vertical-align: middle;
  height: 30rem;
}

.info-title {
  margin-top: 4rem;
  font-size: 3rem;
  margin-left: 7rem;
  color: #358AA0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bolder;
}

.info-title2 {
  margin-top: 4rem;
  font-size: 3rem;
  margin-left: 11rem;
  color: #F3BA43;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bolder;
}

.info-text {
  font-size: 2.25rem;
  text-align: justify;
  font-family: 'Open Sans Condensed', sans-serif;
}

.info-text-right {
  font-size: 2.25rem;
  padding-left: 7rem;
  display: table-cell;
  vertical-align: middle;
  text-align: justify;
  font-family: 'Open Sans Condensed', sans-serif;
}

/*---------------Dashboard---------------*/
/*----------Navbar----------*/
.navbar {
  background-color: #4B3322;
  border-bottom: none;
  box-shadow: 0 1.5px 10px #4B3322;
}

.dash-logo {
  position: absolute;
  height: 7.5rem;
  margin-top: -12px;
}

#username {
  margin-left: 50px;
}

.nav-dash-btn {
  margin-left: 2rem;
  width: 120px;
}

#sign-out {
  color: #DDF4F5;
  text-decoration: none !important;
  padding-left: .5rem;
}

#sign-out:hover {
  color: #FBE694 !important;
  text-decoration: none;
}

#sign-out:visited {
  color: #DDF4F5;
}

/*----------Dash Aside and Content Body----------*/
.dash-container {
  height: 100vh;
}

.dash-body {

}

/*----------Aside----------*/
#dash-aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #FBE694;
}

.goals-content {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 35px;
}

/*----------Content Body----------*/
.plan-content {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
